@charset "utf-8";
._msg{
	display: none;	
}
.onlyPrinter{
display: none;	
}
.oculto{
display: none;	
}

.input-field.col label.labeltop{
	left: .75rem;
	position: absolute;
	top: -14px;
	font-size: .8rem;
	color: #9e9e9e;
	cursor: text;
	transition: .2s ease-out;
	}
select.browser-default{
		cursor: pointer;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	width: 100%;
	font-size: 1rem;
	margin: 0 0 20px 0;
	padding: 0;
	display: block;
	}

.error_input{
	color: red;
	font-size: 0.8rem;
	line-height: 0.8rem;
	margin-top: -18px;
}
.error_input:empty{
	display: none;
}

.mk_pag{
	background-color: #039be5;
	color: white;
	margin:5px;
	padding: 5px;
	width: 15px;
	top:5px;
	font-size: 0.8rem;
}

.mk_pag:hover{
	background-color: red;
}
.mk_pag.active,.active.mk_pag {
	background-color: green;	
}

input.ver:disabled{
	color:black;
}

.select-wrapper input.select-dropdown:disabled {
    color:rgba(0,0,0,0.50);

}


input:disabled:not([type]) + label, input[readonly="readonly"]:not([type]) + label, input[type="text"]:disabled + label, input[type="text"][readonly="readonly"] + label, input[type="password"]:disabled + label, input[type="password"][readonly="readonly"] + label, input[type="email"]:disabled + label, input[type="email"][readonly="readonly"] + label, input[type="url"]:disabled + label, input[type="url"][readonly="readonly"] + label, input[type="time"]:disabled + label, input[type="time"][readonly="readonly"] + label, input[type="date"]:disabled + label, input[type="date"][readonly="readonly"] + label, input[type="datetime"]:disabled + label, input[type="datetime"][readonly="readonly"] + label, input[type="datetime-local"]:disabled + label, input[type="datetime-local"][readonly="readonly"] + label, input[type="tel"]:disabled + label, input[type="tel"][readonly="readonly"] + label, input[type="number"]:disabled + label, input[type="number"][readonly="readonly"] + label, input[type="search"]:disabled + label, input[type="search"][readonly="readonly"] + label, textarea.materialize-textarea:disabled + label, textarea.materialize-textarea[readonly="readonly"] + label {
	color:rgba(0,0,0,0.86);
	font-style: bold;
}

.select-wrapper.required + label,
textarea.materialize-textarea.required + label,
input.required + label{
	color: black;
	font-weight: bold;
}

[type="checkbox"]:disabled:not(:checked) + label::before {
	border: none;
	background-color: rgba(0,0,0,0.1);
}

[type="checkbox"]:checked:disabled + label::before {
	border-right: 2px solid rgba(0,0,0,1);
	border-bottom: 2px solid rgba(0,0,0,1);
}

.modal.modal-fixed-footer .modal-tit{
border-bottom: 1px solid rgba(0, 0, 0, 0.1);background-color: #fafafa;border-radius:  2px 2px 0 0;height: 56px;position: absolute;top: 0;padding: 4px 6px;width: 100%;
}
.modal.modal-fixed-footer .modal-content{

margin-top:56px;height:calc(100% - 112px);padding-top: 0;
}



/* mk_componente */
.form-config, .form-config-section, .dropin{
	position: relative;
}
.form-config-section:empty, .dropin:empty{
padding:20px;
border:1px dotted red;
}

.form-config-section, .dropin{
 min-height:20px;
}

.drop-over{
  border:1px solid red;
}
.ui-droppable-active{
background-color:#E5FF99;  
}

.form-config, .form-config-section{
  position:relative;
}
.form-config-section{
padding-top:10px;
}
.form-config:hover {
  background-color:#EFEFEF;
}

.form-config-section:hover {
  background-color:#fff;
  border:1px dotted grey;
}

span.campos-edit{
  display:none;
}

.form-config:hover > span.campos-edit{
display:inline-block;
position:absolute;
top:-23px;
right:3px;
color:grey;
}

.form-config-section:hover > span.campos-edit{
display:inline-block;
position:absolute;
top:-23px;
right:3px;
color:red;
}

.form-config:hover > span.campos-edit i:hover, form-config-section:hover > span.campos-edit i:hover{
  color:black;
}
