@charset "utf-8";
._msg{
	display: none;	
}
.onlyPrinter{
display: none;	
}
.oculto{
display: none;	
}
.error_input{
	color: red;
	font-size: 0.8rem;
	line-height: 0.8rem;
	margin-top: -18px;
}
.error_input:empty{
	display: none;
}

.mk_pag{
	background-color: #039be5;
	color: white;
	margin:5px;
	padding: 5px;
	width: 15px;
	top:5px;
	font-size: 0.8rem;
}

.mk_pag:hover{
	background-color: red;
}
.mk_pag.active,.active.mk_pag {
	background-color: green;	
}

input.ver:disabled{
	color:black;
}

.select-wrapper input.select-dropdown:disabled {
    color: black;
}

input:disabled:not([type]) + label, input[readonly="readonly"]:not([type]) + label, input[type="text"]:disabled + label, input[type="text"][readonly="readonly"] + label, input[type="password"]:disabled + label, input[type="password"][readonly="readonly"] + label, input[type="email"]:disabled + label, input[type="email"][readonly="readonly"] + label, input[type="url"]:disabled + label, input[type="url"][readonly="readonly"] + label, input[type="time"]:disabled + label, input[type="time"][readonly="readonly"] + label, input[type="date"]:disabled + label, input[type="date"][readonly="readonly"] + label, input[type="datetime"]:disabled + label, input[type="datetime"][readonly="readonly"] + label, input[type="datetime-local"]:disabled + label, input[type="datetime-local"][readonly="readonly"] + label, input[type="tel"]:disabled + label, input[type="tel"][readonly="readonly"] + label, input[type="number"]:disabled + label, input[type="number"][readonly="readonly"] + label, input[type="search"]:disabled + label, input[type="search"][readonly="readonly"] + label, textarea.materialize-textarea:disabled + label, textarea.materialize-textarea[readonly="readonly"] + label {
	color:rgba(0,0,0,0.86);
	font-style: bold;
}

[type="checkbox"]:disabled:not(:checked) + label::before {
	border: none;
	background-color: rgba(0,0,0,0.1);
}

[type="checkbox"]:checked:disabled + label::before {
	border-right: 2px solid rgba(0,0,0,1);
	border-bottom: 2px solid rgba(0,0,0,1);
}
