{% append js.onready %}
$(document).ajaxStop(function(){
    showMensajes();
});

	$("select").material_select();
	showMensajes();

{% /append %}

{% append js.files %}
<link href='js/confirm/confirm.css' rel='stylesheet'>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
{% /append %}


{% append style.inline %}
{% /append %}

{% append js.inline %}

    jconfirm.defaults = {
        title: 'Aviso',
        
        boxWidth: '30%',
        useBootstrap: false
    };

{% /append %}
<div class="container">
<!-- ajax: -->

<div class="titulo">
[[component:]]titulos::text={% echo $modTitulo; %}[[:component]]
</div>

[[component:]]formulario[[:component]]

            
<!-- :ajax -->
</div>
