{% append js.onready %}
$(document).ajaxStop(function(){
    showMensajes();
});

	$("select").material_select();
	showMensajes();

{% /append %}

{% append js.files %}
<link href='js/confirm/confirm.css' rel='stylesheet'>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
{% /append %}


{% append style.inline %}
{% /append %}

{% append js.inline %}

    jconfirm.defaults = {
        title: 'Aviso',
        
        boxWidth: '30%',
        useBootstrap: false
    };

{% /append %}
	    <h4 class="modal-tit">
			[[component:]]titulos::text=Adicionar[[:component]]
		</h4>

<div class="container">
<!-- ajax: -->
[[component:]]formulario[[:component]]
<!-- :ajax -->
</div>
