

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#debug" class="brand-logo" >Logo</a>
        <ul class="right hide-on-med-and-down">
<li><a href="/" > home</a></li>
<li><a href = "index.php?url=user/search" > search</a></li>
{% if isset($user) %}
<li><a href = "index.php?url=user/profile" > profile</a></li>
<li><a href = "index.php?url=user/settings" > settings</a></li>
<li><a href = "index.php?url=user/logout" > logout</a></li>
{% /if %}
{% else %}
<li><a href = "index.php?url=user/register" > register</a></li>
<li><a href = "index.php?url=user/login" > login</a></li>
{% /else %}        </ul>
      </div>
    </nav>
  </div>
        

