
{% append style.files %}
{% /append %}
{% append style.inline %}



.treeg tr td a{
	display:none;
}
.treeg tr:hover td a{
	display:inline-block;
	margin-right:5px;
}
{% /append %}
{% append js.onready %}

$(document).ajaxStop(function(){
    showMensajes();
});
	$("select").material_select();
	showMensajes();
{% /append %}
{% append js.inline %}  

    jconfirm.defaults = {
        title: 'Aviso',
        boxWidth: '30%',
        useBootstrap: false
    };


function grabado(msg){
if (msg=='ok'){
	$('#mk_formulario').modal('close');
	reaction('','','','.listTable');
}else{
	var error=JSON.parse(msg);
	$.each(error, function(i, item) {
		$('#'+i).parent().find('.error_input').html(item);
	});
}
return -1;
}
function onChangeProd(){
  var dato=$('#fk_prod option:selected');
  var sel=$(dato).data('tag');
  sel=sel.split(',');
  if (sel[0]>0){
    reaction('campo=fk_unidades&arg[]='+sel[1]+'&sel='+sel[0],'getListFor','','#fk_unidades',actualizarUI);
  }
}


function binderNodeTree(){
	$( '.treeg tr td' ).off( "click", "**" );
	 $('.treeg tr td').on('click','i:contains("add")',function(){addNodeTree(this)});
	 $('.treeg tr td').on('click','i:contains("edit")',function(){editNodeTree(this)});
	 $('.treeg tr td').on('click','i:contains("delete")',function(){delNodeTree(this)});
}
var nodedeltree;
function delNodeTree(node){
	node=$(node).closest('tr');
	if (($(node).treegrid('isLeaf'))&&($(node).treegrid('getDepth')>0)){
		nodedeltree=node;
		var t=node.find('td:eq(0)').text();
		$.confirm({
		    title: 'Confirmacion',
		    content: '¿Esta seguro de querer borrar este Nodo?:'+t,
		    type:'red',
		    buttons: {
		        confirm: function () {
		        	var pp1='#'+$(nodedeltree).closest('table').prop('id');
		        	nodedeltree.remove();
        			$(pp1).treegrid();
        			$('#'+$(pp1).attr('for')).val(getNodosTree(pp1));
		        },
		        cancel: function () {
		        }
		    }
		});
	}
}
function editNodeTree(node){
	node=$(node).closest('tr');
	if (($(node).treegrid('isLeaf'))&&($(node).treegrid('getDepth')>0)){
		var id=node.prop('id')
		var t=node.find('td:eq(0)').text();
		var t1 = prompt("Ingrese el Texto para Editar", t);
		if (t1 != null) {
			t1=node.find('td:eq(0)').html().replace(t,t1);
			node.find('td:eq(0)').html(t1);
		}
		var pp='#'+$(node).closest('table').prop('id');
		$('#'+$(pp).attr('for')).val(getNodosTree(pp));
	}
}
function addNodeTree(node){
	node=$(node).closest('tr');
	var id=node.prop('id');
	id=id.replace('node-','');
	var idp=node.treegrid('getParentNodeId')
	var t1 = prompt("Ingrese el Texto para Adicionar", '');
	var n=node.clone();
	var pp='#'+$(node).closest('table').prop('id');
	var nid;
	if (t1 != null) {
		nid=$(pp).find('tr').length+1;
		$(pp).treegrid('getAllNodes').each(function(){
			var oid=$(this).prop('id');
			oid=oid.replace('node-n','');
			if (isNaN(oid)==false){
				if (oid>=nid){
					nid=oid+1;
				}
			}
		});
		$(n).removeClass('treegrid-'+id).removeClass('treegrid-expanded').removeClass('treegrid-parent-'+idp).addClass('treegrid-n'+nid).addClass('treegrid-parent-'+id).prop('id','node-n'+nid);
		n.find('td:eq(0)').html(t1);
		node.after(n);
		$(pp).treegrid();
		binderNodeTree();
		$('#'+$(pp).attr('for')).val(getNodosTree(pp));
		//setNodosTree(pp,$('#'+$(pp).attr('for')).val());
	}
}
{% /append %}
{% append js.openform %}
{% /append %}
{% append js.files %}<link type='text/css' rel='stylesheet' href='js/confirm/confirm.css'/>
<link type='text/css' rel='stylesheet' href='js/datedropper/datedropper.css'/>
<link type='text/css' rel='stylesheet' href='js/treegrid/treegrid.css'/>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
<script type='text/javascript' src='js/datedropper/datedropper.js'></script>
<script type='text/javascript' src='js/treegrid/treegrid.js'></script>
{% /append %}
	    <h4 class="modal-tit">
			<h1 > Adicionar</h1>
		</h4>
<div class="container">
<!-- ajax: -->
<div class="errorList"></div>
<form id="frmEdit" data-_action='{$_action}' action="reaction('','save','',true);"  method="post" data-target='' class="$_action" >
<div class="row">

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}

[[setvar: openform]]
	$('input.datafecha').dateDropper();
[[:setvar]]


[[setvar: openform]]
	 $('.treeg').treegrid();
	 binderNodeTree();
[[:setvar]]


<div class="row  i_c-section bindered" id="c-section-0" data-campo="c-section-0" data-type="c-section"><span class="campos-edit"></span><span class="campos-edit"></span> <div class="dropin row      ">
 

	          <input  id="pk" name="pk" type="hidden" value='{% echo $item[pk]; %}' data-defval='{% echo $anexos[pk][defVal] %}' >
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[tipo][options],$item[tipo],'Seleccione '.$anexos[tipo][labelf],$anexos[tipo][join][grupo]); %}
		<div class="input-field col s3">
		 {% if $_action!='ver' %}
		<select id="tipo" name="tipo" class="select $clasver "  [[var:]]eventos[[:var]] data-defval='{% echo $anexos[tipo][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="tipo" name="tipo" type="text" class="alfa $clasver" width="" value='{% echo $anexos[tipo][options][$item[tipo]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="tipo">{% echo $anexos[tipo][labelf] %}</label>
    	          <div class="error_input">{$errors[tipo][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[fk_almacenes][options],$item[fk_almacenes],'Seleccione '.$anexos[fk_almacenes][labelf],$anexos[fk_almacenes][join][grupo]); %}
		<div class="input-field col s6">
		 {% if $_action!='ver' %}
		<select id="fk_almacenes" name="fk_almacenes" class="select $clasver  required  numeric"   onkeypress=' return soloNum(event,this);'  data-defval='{% echo $anexos[fk_almacenes][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="fk_almacenes" name="fk_almacenes" type="text" class="alfa $clasver" width="" value='{% echo $anexos[fk_almacenes][options][$item[fk_almacenes]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="fk_almacenes">{% echo $anexos[fk_almacenes][labelf] %}</label>
    	          <div class="error_input">{$errors[fk_almacenes][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[fk_prod][options],$item[fk_prod],'Seleccione '.$anexos[fk_prod][labelf],$anexos[fk_prod][join][grupo]); %}
		<div class="input-field col s6">
		 {% if $_action!='ver' %}
		<select id="fk_prod" name="fk_prod" class="select $clasver  required  numeric"   onkeypress=' return soloNum(event,this);'  onchange='onChangeProd();'  data-defval='{% echo $anexos[fk_prod][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="fk_prod" name="fk_prod" type="text" class="alfa $clasver" width="" value='{% echo $anexos[fk_prod][options][$item[fk_prod]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="fk_prod">{% echo $anexos[fk_prod][labelf] %}</label>
    	          <div class="error_input">{$errors[fk_prod][0]}</div>
		</div>
 

		<div class="input-field col s4">
	          <input id="cant" name="cant" type="text" class="float $clasver  required  numeric" data-decimal='2' width="" value='{% echo $item[cant]; %}'   onkeypress=' return soloNum(event,this);'  onblur=' _refreshFloat(this);'  {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defval='{% echo $anexos[cant][defVal] %}' >
	         <label for="cant">{% echo $anexos[cant][labelf] %}</label>
	          <div class="error_input">{$errors[cant][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[fk_unidades][options],$item[fk_unidades],'Seleccione '.$anexos[fk_unidades][labelf],$anexos[fk_unidades][join][grupo]); %}
		<div class="input-field col s2">
		 {% if $_action!='ver' %}
		<select id="fk_unidades" name="fk_unidades" class="select $clasver  required  numeric"   onkeypress=' return soloNum(event,this);'  data-defval='{% echo $anexos[fk_unidades][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="fk_unidades" name="fk_unidades" type="text" class="alfa $clasver" width="" value='{% echo $anexos[fk_unidades][options][$item[fk_unidades]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="fk_unidades">{% echo $anexos[fk_unidades][labelf] %}</label>
    	          <div class="error_input">{$errors[fk_unidades][0]}</div>
		</div>
 

		<div class="input-field col s4">
	          <input id="costo" name="costo" type="text" class="float $clasver  required  numeric" data-decimal='2' width="" value='{% echo $item[costo]; %}'   onkeypress=' return soloNum(event,this);'  onblur=' _refreshFloat(this);'  {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defval='{% echo $anexos[costo][defVal] %}' >
	         <label for="costo">{% echo $anexos[costo][labelf] %}</label>
	          <div class="error_input">{$errors[costo][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[tipodoc][options],$item[tipodoc],'Seleccione '.$anexos[tipodoc][labelf],$anexos[tipodoc][join][grupo]); %}
		<div class="input-field col s4">
		 {% if $_action!='ver' %}
		<select id="tipodoc" name="tipodoc" class="select $clasver "  [[var:]]eventos[[:var]] data-defval='{% echo $anexos[tipodoc][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="tipodoc" name="tipodoc" type="text" class="alfa $clasver" width="" value='{% echo $anexos[tipodoc][options][$item[tipodoc]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="tipodoc">{% echo $anexos[tipodoc][labelf] %}</label>
    	          <div class="error_input">{$errors[tipodoc][0]}</div>
		</div>
 

		<div class="input-field col s4">
	          <input id="nfac" name="nfac" type="text" class="alfa $clasver " width="" value='{% echo $item[nfac]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defVal='{% echo $anexos[nfac][defVal] %}'>
	          <label for="nfac">{% echo $anexos[nfac][labelf] %}</label>
	          <div class="error_input">{$errors[nfac][0]}</div>
		</div>
 

		<div class="input-field col s6">
	          <input id="serial" name="serial" type="text" class="alfa $clasver " width="" value='{% echo $item[serial]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defVal='{% echo $anexos[serial][defVal] %}'>
	          <label for="serial">{% echo $anexos[serial][labelf] %}</label>
	          <div class="error_input">{$errors[serial][0]}</div>
		</div>
 

{% php $valor=\Mk\Tools\Form::dbToDate($item[fecven]); %}
		<div class="input-field col s6">
	          <input id="fecven" name="fecven" type="text" class="alfa $clasver datafecha " width="" value='{% echo $valor; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %}  data-format="{% echo $_param->fecha->formato; %}" data-modal="true"  data-large-mode="true"  data-default-date="{% echo \Mk\Tools\Form::dbToDate($item[fecven],false,'m-d-Y'); %}" data-defval='{% echo $anexos[fecven][defVal] %}' >
	          <label for="fecven">{% echo $anexos[fecven][labelf] %}</label>
	          <div class="error_input">{$errors[fecven][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[fk_resp][options],$item[fk_resp],'Seleccione '.$anexos[fk_resp][labelf],$anexos[fk_resp][join][grupo]); %}
		<div class="input-field col s12">
		 {% if $_action!='ver' %}
		<select id="fk_resp" name="fk_resp" class="select $clasver  required  numeric"   onkeypress=' return soloNum(event,this);'  data-defval='{% echo $anexos[fk_resp][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="fk_resp" name="fk_resp" type="text" class="alfa $clasver" width="" value='{% echo $anexos[fk_resp][options][$item[fk_resp]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="fk_resp">{% echo $anexos[fk_resp][labelf] %}</label>
    	          <div class="error_input">{$errors[fk_resp][0]}</div>
		</div>
</div></div>
</div>
<input type="hidden" name="_save_" id="_save_" value="{% echo $_action; %}">
</form>
<!-- notajax: -->
{% if ('[[var:]]mostrar[[:var]]'!='1') %}
<div class="modal-footer" >
<div class="pag white-text" style="float: left;"></div>
				<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat " >Volver</a>
				<a href="#!" id="btnSave" class=" modal-action  waves-effect waves-green btn-flat btnPrevAjax" onclick="_sendForm('#frmEdit',0,grabado);" >Grabar</a>
				{% if ($_action=='ver') %}
				<a href="#!" id="btnPrint" class=" modal-action  waves-effect waves-blue btn-flat " onclick="printerArea('#mk_formulario .modal-content');" >Imprimir</a>
				{% /if %}
        </div>
{% /if %}
<!-- :notajax -->
<!-- :ajax -->
</div>
