<div class="navbar-fixed">
	<ul id="submodulos" class="dropdown-content">
 			{% php

					$path = APP_PATH . "/application/modulos";
					$mmm='';
					$iterator = new DirectoryIterator($path);
					foreach ($iterator as $item)
					{
						if (!$item->isDot() && $item->isDir())
						{
							$file=$item->getFilename();
							$mmm=$mmm.'<li><a href = "index.php?url='.$file.'" >'.$file.'</a></li>';
						}
					}
				%}
				{% echo $mmm; %}
		</ul>
	<nav>
		<div class="nav-wrapper">
			<a href="#debug" class="" >Logo</a>
			{% if isset($_loged) %}
				({% echo $_loged['id'].':'.$_loged['user']['nombre'] %})
			{% /if %}

	        <ul class="right hide-on-med-and-down">
				<li><a href="/" > home</a></li>
				<li><a class="dropdown-trigger" href="#!" data-target="submodulos" >Modulos<i class="material-icons right">arrow_drop_down</i></a></li>
				<li><a href = "index.php?url=resp/logout" >logout</a></li>
				<li><a href = "index.php?url=resp/login" > login</a></li>
				{% /else %}
			</ul>
		</div>
	</nav>
</div>

