
 <!DOCTYPE html>
  <html>
    <head>
		<meta charset="utf-8">
		<meta title="{% echo $_appTit; %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% yield meta.inline %}

		{% set vip.files %}
			<script type="text/javascript" src="js/jquery/jquery.js"></script>
			<link type="text/css" rel="stylesheet" href="js/materialize/materializeicon.css"/>
			<link type="text/css" rel="stylesheet" href="js/materialize/materialize.min.css"/>
			<script type="text/javascript" src="js/materialize/materialize.min.js"></script>
			<link type="text/css" rel="stylesheet" href="../mk/js/mk.css"/>
			<link type="text/css" rel="stylesheet" href="../mk/js/mkprint.css" media="print" />
			<script type="text/javascript" src="../mk/js/mk.js"></script>
		{% /set %}

		{% set style.files %}
		{% /set %}

		{% yield vip.files %}
		{% yield style.files %}
		{% yield meta.inline %}

		<style>
			{% yield style.inline %}
		</style>

	</head>

	<body>
		<header class="noprinter">
			{% include navigation.html %}
		</header>

		<main>
			{% echo $template %}
		</main>

		<footer>
		</footer>

		{% yield js.files %}

		<script>
			$(document).ready(function(){
				$('#debug').modal();
				{% yield js.onready %}
			});
			{% yield js.inline %}
		</script>
	</body>
</html>