[[compile:]]


[* if '[[var:]]tipo[[:var]]'=='alfa' *]
	<div class="row">
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="alfa" width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}' [[var:]]validate[[:var]] [[var:]]eventos[[:var]] >
	          <label for="[[var:]]id[[:var]]">[[var:]]label[[:var]]</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
	</div>
[* /if *]

[* if '[[var:]]tipo[[:var]]'=='oculto' *]
	          <input  id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="hidden" value='{% echo $item[[[var:]]id[[:var]]]; %}' >
[* /if *]

[* if '[[var:]]tipo[[:var]]'=='check' *]

<div class="row">
	<div class="input-field col [[var:]]clase[[:var]]">
      <input type="checkbox" id="[[var:]]id[[:var]]" name='[[var:]]id[[:var]]' class="check" value="[[var:]]dataon[[:var]]" {% if ($item[[[var:]]id[[:var]]])=="[[var:]]dataon[[:var]]" %} checked="checked" {% /if %} [[var:]]eventos[[:var]] />
     <label for="[[var:]]id[[:var]]">[[var:]]label[[:var]]</label>
     <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
     </div>
</div>

[* /if *]

[* if '[[var:]]tipo[[:var]]'=='float' *]

	<div class="row">
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="float" data-decimal='[[var:]]decimal[[:var]]' width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}' [[var:]]validate[[:var]] [[var:]]eventos[[:var]] >
	          <label for="[[var:]]id[[:var]]">[[var:]]label[[:var]]</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
	</div>

[* /if *]

[* if '[[var:]]tipo[[:var]]'=='selec' *]

	<div class="row">
		<div class="input-field col [[var:]]clase[[:var]]">
<select id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" class="select" [[var:]]validate[[:var]] [[var:]]eventos[[:var]] >
      [[var:]]options[[:var]]
    </select>
    	          <label for="[[var:]]id[[:var]]">[[var:]]label[[:var]]</label>
    	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
	</div>

[* /if *]

[[:compile]]
