[[compile:]]


{% if '[[var:]]tipo[[:var]]'=='alfa' %}
	<div class="row">
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input placeholder="[[var:]]label[[:var]]" id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="validate" width="[[var:]]tam[[:var]]" value='[% echo [[]]item[[[var:]]id[[:var]]]; %]' >
	          <label for="[[var:]]id[[:var]]">[[var:]]label[[:var]]</label>
		</div>	
	</div>
{% /if %}

{% if '[[var:]]tipo[[:var]]'=='oculto' %}
	          <input  id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="hidden" value='[% echo [[]]item[[[var:]]id[[:var]]]; %]' >
{% /if %}


[[:compile]]
