<h1 > Login</h1>
<form method = "post">
	<ol>
		<li>
			<label>
				Email:
				<input type = "text" name = "email" />
				{% if isset($email_error) %}
				{% echo $email_error %}
				{% /if %}
			</label>
		</li>
		<li>
			<label>
				Password:
				<input type = "password" name = "password" />
				{% if isset($password_error) %}
				{% echo $password_error %}
				{% /if %}
			</label>
		</li>
		<li>
			
			 <button class="btn waves-effect waves-light" type="submit" name="login" value="1">login
    <i class="material-icons right">send</i>
  </button>
		</li>
	</ol>
</form>