
{% append style.files %}
{% /append %}
{% append style.inline %}

  

{% /append %}
{% append js.onready %}

$(document).ajaxStop(function(){
    showMensajes();
});
	$("select").material_select();
	showMensajes();
  

{% /append %}
{% append js.inline %}

<?php
if ($_action)=='ver'{
?>
	alert('esto es ver');
<?php
}
?>
    jconfirm.defaults = {
        title: 'Aviso',
        boxWidth: '30%',
        useBootstrap: false
    };
  

function grabado(msg){
if (msg=='ok'){
	$('#mk_formulario').modal('close');
	reaction('','','','.listTable');
}else{
	var error=JSON.parse(msg);
	$.each(error, function(i, item) {
		$('#'+i).parent().find('.error_input').html(item);
	});
}
return -1;
}
{% /append %}
{% append js.files %}

<link href='js/confirm/confirm.css' rel='stylesheet'>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
  

{% /append %}
<div class="container">
<!-- ajax: -->
<div class="titulo">
<h1 > {% echo $modTitulo; %}</h1>
</div>
<div class="errorList"></div>
<form id="frmEdit" data-_action='{$_action}' action="reaction('','save','',true);"  method="post" data-target='' class="$_action" >


{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}
	          <input  id="pk" name="pk" type="hidden" value='{% echo $item[pk]; %}' {% if $_action=='ver' %} disabled="disabled" {% /if %} >
 

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}
	<div class="row">
		<div class="input-field col s12">
	          <input id="nombre" name="nombre" type="text" class="alfa $clasver" width="" value='{% echo $item[nombre]; %}'  [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} >
	          <label for="nombre">Nombre</label>
	          <div class="error_input">{$errors[nombre][0]}</div>
		</div>
	</div>
 

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}
<div class="row">
	<div class="input-field col s12">
	 {% if $_action!='ver' %}
      <input type="checkbox" id="base" name='base' class="check $clasver" value="1" {% if ($item[base]=="1") %} checked="checked" {% /if %} [[var:]]eventos[[:var]]  />
  {% /if %}
     {% else %}
     <input id="base" name="base" type="text" class="alfa $clasver" width="" value='{% php if ($item[base]=="1"){ $_valor= $anexos[base][labelon]; } else { $_valor=$anexos[base][labeloff];} %} {% echo $_valor; %}'  disabled="disabled"  >
     {% /else %}
     <label for="base">Base</label>
     <div class="error_input">{$errors[base][0]}</div>
     </div>
</div>
 

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}
	{% php $options=\Mk\Tools\Form::getOptions($anexos[tipo][options],$item[tipo],'Seleccione '.$anexos[tipo][label]); %}
	<div class="row">
		<div class="input-field col s12">
		 {% if $_action!='ver' %}
		<select id="tipo" name="tipo" class="select $clasver"  required data-validate=' required' [[var:]]eventos[[:var]]  >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="tipo" name="tipo" type="text" class="alfa $clasver" width="" value='{% echo $anexos[tipo][options][$item[tipo]]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="tipo">{$anexos[tipo][label]}</label>
    	          <div class="error_input">{$errors[tipo][0]}</div>
		</div>
	</div>
 

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}
	<div class="row">
		<div class="input-field col s12">
	          <input id="relBase" name="relBase" type="text" class="float $clasver" data-decimal='2' width="" value='{% echo $item[relBase]; %}' data-validate=' numeric'  onkeypress=' return soloNum(event,this);'  onblur=' _refreshFloat(this);'  {% if $_action=='ver' %} disabled="disabled" {% /if %} >
	          <label for="relBase">RelBase</label>
	          <div class="error_input">{$errors[relBase][0]}</div>
		</div>
	</div>
<input type="hidden" name="_save_" id="_save_" value="{% echo $_action; %}">
</form>
<!-- notajax: -->
{% if ('[[var:]]mostrar[[:var]]'!='1') %}
<div class="modal-footer" >
<div class="pag white-text" style="float: left;"></div>
				<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat " >Volver</a>
				<a href="#!" id="btnSave" class=" modal-action  waves-effect waves-green btn-flat " onclick="_sendForm('#frmEdit',0,grabado);" >Grabar</a>
				{% if ($_action=='ver') %}
				<a href="#!" id="btnPrint" class=" modal-action  waves-effect waves-blue btn-flat " onclick="printerArea('#mk_formulario .modal-content');" >Imprimir</a>
				{% /if %}
        </div>
{% /if %}
<!-- :notajax -->
<!-- :ajax -->
</div>
