
{% append style.files %}
{% /append %}
{% append style.inline %}

  

{% /append %}
{% append js.onready %}

$(document).ajaxStop(function(){
    showMensajes();
});
	$("select").material_select();
	showMensajes();
  

{% /append %}
{% append js.inline %}

    jconfirm.defaults = {
        title: 'Aviso',
        boxWidth: '30%',
        useBootstrap: false
    };
  

{% /append %}
{% append js.files %}

<link href='js/confirm/confirm.css' rel='stylesheet'>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
  

{% /append %}
<div class="container">
<!-- ajax: -->
<div class="mk-section">
<h1 > {% echo $modTitulo; %}</h1>
</div>
<div class="mk-section">
<div class="errorList"></div>
<form id="frmEdit" data-_action='{$_action}' action=''  method="post" data-target=''  >


	          <input  id="pk" name="pk" type="hidden" value='{% echo $item[pk]; %}' >
 

	<div class="row">
		<div class="input-field col s12">
	          <input id="nombre" name="nombre" type="text" class="alfa" width="" value='{% echo $item[nombre]; %}'  required data-validate=' required' [[var:]]eventos[[:var]] >
	          <label for="nombre">Nombre</label>
	          <div class="error_input">{$errors[nombre][0]}</div>
		</div>
	</div>
 

<div class="row">
	<div class="input-field col ">
      <input type="checkbox" id="base" name='base' class="check" value="1" {% if ($item[base])=="1" %} checked="checked" {% /if %} [[var:]]eventos[[:var]] />
     <label for="base">Base</label>
     <div class="error_input">{$errors[base][0]}</div>
     </div>
</div>
 

	<div class="row">
		<div class="input-field col s12">
<select id="tipo" name="tipo" class="select"  required data-validate=' required' [[var:]]eventos[[:var]] >
      <option value='' disabled {% if $item[tipo]=='' %}selected='selected' {% /if %} > Seleccione Tipo...<option value='X' {% if $item[tipo]=='X' %}selected='selected' {% /if %} >Unico</option><option value='U' {% if $item[tipo]=='U' %}selected='selected' {% /if %} >Unidad</option><option value='P' {% if $item[tipo]=='P' %}selected='selected' {% /if %} >Peso</option><option value='D' {% if $item[tipo]=='D' %}selected='selected' {% /if %} >Distancia</option><option value='V' {% if $item[tipo]=='V' %}selected='selected' {% /if %} >Volumen</option><option value='T' {% if $item[tipo]=='T' %}selected='selected' {% /if %} >Tiempo</option>
    </select>
    	          <label for="tipo">Tipo</label>
    	          <div class="error_input">{$errors[tipo][0]}</div>
		</div>
	</div>
 

	<div class="row">
		<div class="input-field col s12">
	          <input id="relBase" name="relBase" type="text" class="float" data-decimal='2' width="" value='{% echo $item[relBase]; %}'  required data-validate=' required, numeric'  onkeypress=' return soloNum(event,this);'  onblur=' _refreshFloat(this);'  >
	          <label for="relBase">RelBase</label>
	          <div class="error_input">{$errors[relBase][0]}</div>
		</div>
	</div>
 

 

 

<input type="hidden" name="_save_" value="{% echo $_action; %}">
</form>
</div>
<!-- :ajax -->
</div>
