
{% append style.files %}   
{% /append %}

{% append style.inline %}

  

 
{% /append %}

{% append js.onready %}

$(document).ajaxStop(function(){
    showMensajes();
});

	$("select").material_select();
	showMensajes();

  

 
{% /append %}

{% append js.inline %}

    jconfirm.defaults = {
        title: 'Aviso',
        
        boxWidth: '30%',
        useBootstrap: false
    };

  

function _sendForm(){
var link=reaction('','','',true);
$('#frmEdit').attr('action',link);
alert(link);
$('#frmEdit').submit();

}
 
{% /append %}

{% append js.files %}

<link href='js/confirm/confirm.css' rel='stylesheet'>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
  

 
{% /append %}
 

 


 

 
View Formulario
<div class="container">
<!-- ajax: -->

<div class="mk-section">
<h1 > {% echo $modTitulo; %}</h1>

</div>

<div class="mk-section">
 

 

 

 


<form id="frmEdit" action=''  method="post" >







	          <input  id="pk" name="pk" type="hidden" value='{% echo $item[pk]; %}' >



 
 




	<div class="row">
		<div class="input-field col s12">
	          <input placeholder="Nombre" id="nombre" name="nombre" type="text" class="validate" width="" value='{% echo $item[nombre]; %}' >
	          <label for="nombre">Nombre</label>
		</div>	
	</div>





 
 
<input type="hidden" name="_save_" value="{% echo $_action; %}">
</form>
		
        <div class="modal-footer" style="position:absolute; bottom:0; ">
            <div class="row " >
				<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat " onclick="_sendForm();" >Grabar</a>
				<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat " onclick="reaction('','listar');" >Volver</a>
              </div>
        </div>



</div>

            
<!-- :ajax -->
</div>
