  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      	{% if $menunavigation == '1' %} <a href="#" data-activates="nav-mobile" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>  {% /if %}
        <a href="#!" class="brand-logo">  CRUD de la Tabla ({% echo $tableName %})</a>
        <ul class="right ">
        {% if $_action == 'table' %} 
<li class="active"><a href="#" onclick="validarFormulario();" > GENERAR</a></li>
<li><a href="#" onclick="cargarConfig();" > CARGAR CONFIG</a></li>
<li><a href="#" > FORMULARIO</a></li>
	{% /if %}

</ul>
      </div>
    </nav>
  </div>
        

