<!DOCTYPE html>
  <html>
    <head>
<meta charset="utf-8">
<meta title="Modulo de Creacion de ABM/CRUD del framework MK">
{% set style.files %}
      <link type="text/css" rel="stylesheet" href="js/materialize/materializeicon.css"/>
      <link type="text/css" rel="stylesheet" href="js/materialize/materialize.min.css"/>
      <link type="text/css" rel="stylesheet" href="mk/js/mk.css"/>
{% /set %}

<script type="text/javascript" src="js/jquery/jquery.js"></script>
<script type="text/javascript" src="mk/js/mk.js"></script>
<script type="text/javascript" src="js/materialize/materialize.min.js"></script>


<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% yield style.files %}

{% yield meta.inline %}
<style>
{% yield style.inline %}
</style>



</head>

<body>
<header class="noprinter">
{% include navigation.html %}
</header>
<main>
{% echo $template %}
</main>



{% yield js.files %}
<script >
$(document).ready(function(){

{% yield js.onready %}

});

{% yield js.inline %}
</script>
<footer>
	
</footer>
</body>
</html>



