<div class="input-field col [[var:]]clase[[:var]]">
      <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="float {% echo $clasver; %} [[var:]]validate[[:var]] [[var:]]classForm[[:var]]" data-decimal='[[var:]]decimal[[:var]]' width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}'  [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' >
     <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
      <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
</div>	
