[[compile:]]
[* echo  str_replace('form-config-section componente','',$$campos[[[var:]]id[[:var]]][i_pre]);  *]


[* if '[[var:]]unico[[:var]]'=='1' *]

[% append js.inline %]
var old_[[var:]]id[[:var]]='{% echo $item[[[var:]]id[[:var]]]; %}';
function isUnique_[[var:]]id[[:var]](){
	var dato=$('#[[var:]]id[[:var]]').val();
	if (dato==''){
		$('.btnPrevAjax').show();
		return true;
	}
	if (dato!=old_[[var:]]id[[:var]]){
		$('.btnPrevAjax').hide();
		dataUnique($('#[[var:]]primary[[:var]]').val(),'[[var:]]id[[:var]]',dato,function(msg){
			if (msg!='0'){
				alertfocus('Ese {% echo $anexos[[[var:]]id[[:var]]][labelf] %} ya existe!!!','#[[var:]]id[[:var]]')
				//alert('Ese {% echo $anexos[[[var:]]id[[:var]]][labelf] %} ya existe!!!');
				//$('#[[var:]]id[[:var]]').focus();
			}else{
				old_[[var:]]id[[:var]]=dato;
				$('.btnPrevAjax').show();
			}
		});
	}
}
[% /append %]


[* /if *]

[[unique:]]{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}[[:unique]]

[* if '[[var:]]tipo[[:var]]'=='alfa' *]
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="alfa $clasver [[var:]]validate[[:var]]" width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defVal='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}'>
	          <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
[* /if *]

[* if '[[var:]]tipo[[:var]]'=='join' *]
 
{% php
	$nresp=$item['join_[[var:]]id[[:var]]'];
	$idresp= $item[[[var:]]id[[:var]]];
	if ($anexos[[[var:]]id[[:var]]]['funcion']=='useract'){
		if (($_action=='add')||($_action=='index')){
			$nresp=$_loged['user']['nombre'];
			$idresp=$_loged['id'];
		}
	}
php %}
		<div class="input-field col [[var:]]clase[[:var]]">
			 <input  id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="hidden"  value='{% echo $idresp; %}'   data-defval='{% echo $idresp; %}' >
	          <input id="join_[[var:]]id[[:var]]" name="join_[[var:]]id[[:var]]" type="text" class="alfa $clasver " width="[[var:]]tam[[:var]]" value='{% echo $nresp; %}' disabled="disabled" data-defVal='{% echo $nresp; %}'>
	          <label for="join_[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
[* /if *]

[* if '[[var:]]tipo[[:var]]'=='pass' *]

		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="password" class="alfa $clasver [[var:]]validate[[:var]]" width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defVal='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}'>
	          <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
[* /if *]

[* if '[[var:]]tipo[[:var]]'=='date' *]
[[unique:]]
{% append js.files %}
	<link href='js/datedropper/datedropper.css' rel='stylesheet'>
	<script type='text/javascript' src='js/datedropper/datedropper.js'></script>
{% /append %}

[[setvar: openform]]
	$('input.datafecha').dateDropper();
[[:setvar]]


[[:unique]]
{% php $valor=\\Mk\\Tools\\Form::dbToDate($item[[[var:]]id[[:var]]]); %}
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="alfa $clasver datafecha [[var:]]validate[[:var]]" width="[[var:]]tam[[:var]]" value='{% echo $valor; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %}  data-format="{% echo $_param->fecha->formato; %}" data-modal="true" data-init-set="false" data-large-mode="true"  data-default-date="{% echo \\Mk\\Tools\\Form::dbToDate($item[[[var:]]id[[:var]]],false,'m-d-Y'); %}" data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' >
	          <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	
[* /if *]


[* if '[[var:]]tipo[[:var]]'=='oculto' *]
	          <input  id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="hidden" value='{% echo $item[[[var:]]id[[:var]]]; %}' data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' >
[* /if *]

[* if '[[var:]]tipo[[:var]]'=='tree' *]
[[unique:]]
{% append style.inline %}
.treeg tr td a{
	display:none;
}
.treeg tr:hover td a{
	display:inline-block;
	margin-right:5px;
}


{% /append %}

{% append js.files %}
	<link href='js/treegrid/treegrid.css' rel='stylesheet'>
	<script type='text/javascript' src='js/treegrid/treegrid.js'></script>
{% /append %}

{% append js.inline %}

function binderNodeTree(){
	$( '.treeg tr td' ).off( "click", "**" );
	 $('.treeg tr td').on('click','i:contains("add")',function(){addNodeTree(this)});
	 $('.treeg tr td').on('click','i:contains("edit")',function(){editNodeTree(this)});
	 $('.treeg tr td').on('click','i:contains("delete")',function(){delNodeTree(this)});
}
var nodedeltree;
function delNodeTree(node){
	node=$(node).closest('tr');
	if (($(node).treegrid('isLeaf'))&&($(node).treegrid('getDepth')>0)){
		nodedeltree=node;
		var t=node.find('td:eq(0)').text();
		$.confirm({
		    title: 'Confirmacion',
		    content: '¿Esta seguro de querer borrar este Nodo?:'+t,
		    type:'red',
		    buttons: {
		        confirm: function () {
		        	var pp1='#'+$(nodedeltree).closest('table').prop('id');
		        	nodedeltree.remove();
        			$(pp1).treegrid();
        			$('#'+$(pp1).attr('for')).val(getNodosTree(pp1));
		        },
		        cancel: function () {
		        }
		    }
		});
	}
}
function editNodeTree(node){
	node=$(node).closest('tr');
	if (($(node).treegrid('isLeaf'))&&($(node).treegrid('getDepth')>0)){
		var id=node.prop('id')
		var t=node.find('td:eq(0)').text();
		var t1 = prompt("Ingrese el Texto para Editar", t);
		if (t1 != null) {
			t1=node.find('td:eq(0)').html().replace(t,t1);
			node.find('td:eq(0)').html(t1);
		}
		var pp='#'+$(node).closest('table').prop('id');
		$('#'+$(pp).attr('for')).val(getNodosTree(pp));
	}
}
function addNodeTree(node){
	node=$(node).closest('tr');
	var id=node.prop('id');
	id=id.replace('node-','');
	var idp=node.treegrid('getParentNodeId')
	var t1 = prompt("Ingrese el Texto para Adicionar", '');
	var n=node.clone();
	var pp='#'+$(node).closest('table').prop('id');
	var nid;
	if (t1 != null) {
		nid=$(pp).find('tr').length+1;
		$(pp).treegrid('getAllNodes').each(function(){
			var oid=$(this).prop('id');
			oid=oid.replace('node-n','');
			if (isNaN(oid)==false){
				if (oid>=nid){
					nid=oid+1;
				}
			}
		});
		$(n).removeClass('treegrid-'+id).removeClass('treegrid-expanded').removeClass('treegrid-parent-'+idp).addClass('treegrid-n'+nid).addClass('treegrid-parent-'+id).prop('id','node-n'+nid);
		n.find('td:eq(0)').html(t1);
		node.after(n);
		$(pp).treegrid();
		binderNodeTree();
		$('#'+$(pp).attr('for')).val(getNodosTree(pp));
		//setNodosTree(pp,$('#'+$(pp).attr('for')).val());
	}
}
{% /append %}

[[setvar: openform]]
	 $('.treeg').treegrid();
	 binderNodeTree();
[[:setvar]]

 
[[:unique]]

[[prevar: openform]]
	setNodosTree('#tree-[[var:]]id[[:var]]',$('#[[var:]]id[[:var]]').val());
[[:prevar]]


		
		<div class="input-field col [[var:]]clase[[:var]]">
			  <input  id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="hidden" value='{% echo $item[[[var:]]id[[:var]]]; %}' data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}'  >	
	          <label class="labeltop" for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
			
			<table  id="tree-[[var:]]id[[:var]]" name="tree-[[var:]]id[[:var]]" class="treeg" for="[[var:]]id[[:var]]" width="[[var:]]tam[[:var]]">
			{% echo $nodes %}
			</table>


		</div>	

[* /if *]

[* if '[[var:]]tipo[[:var]]'=='check' *]
	<div class="input-field col [[var:]]clase[[:var]]">

	 {% if $_action!='ver' %} 
      <input type="checkbox" id="[[var:]]id[[:var]]" name='[[var:]]id[[:var]]' class="check $clasver " value="[[var:]]dataon[[:var]]" {% if ($item[[[var:]]id[[:var]]]=="[[var:]]dataon[[:var]]") %} checked="checked" {% /if %} [[var:]]eventos[[:var]]  data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' />
  {% /if %}
     {% else %}
     <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="alfa $clasver [[var:]]validate[[:var]]" width="[[var:]]tam[[:var]]" value='{% php if ($item[[[var:]]id[[:var]]]=="[[var:]]dataon[[:var]]"){ $_valor= $anexos[[[var:]]id[[:var]]][labelon]; } else { $_valor=$anexos[[[var:]]id[[:var]]][labeloff];} %} {% echo $_valor; %}'  disabled="disabled"  >
     {% /else %}
    <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
     <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
     </div>

[* /if *]

[* if '[[var:]]tipo[[:var]]'=='float' *]
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="float $clasver [[var:]]validate[[:var]]" data-decimal='[[var:]]decimal[[:var]]' width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}'  [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' >
	         <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	

[* /if *]

[* if '[[var:]]tipo[[:var]]'=='int' *]
		<div class="input-field col [[var:]]clase[[:var]]">
	          <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="float $clasver [[var:]]validate[[:var]]" data-rango='[[var:]]rango[[:var]]' width="[[var:]]tam[[:var]]" value='{% echo $item[[[var:]]id[[:var]]]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' >
	         <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	

[* /if *]

[* if (('[[var:]]tipo[[:var]]'=='selec')||('[[var:]]tipo[[:var]]'=='selecdb')||('[[var:]]tipo[[:var]]'=='selecdbgrupo')) *]
	{% php $options=\\Mk\\Tools\\Form::getOptions($anexos[[[var:]]id[[:var]]][options],$item[[[var:]]id[[:var]]],'Seleccione '.$anexos[[[var:]]id[[:var]]][labelf],$anexos[[[var:]]id[[:var]]][join][grupo]); %}
		<div class="input-field col [[var:]]clase[[:var]]">
		 {% if $_action!='ver' %} 
		<select id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" class="select $clasver [[var:]]validate[[:var]]"  [[var:]]eventos[[:var]] data-defval='{% echo $anexos[[[var:]]id[[:var]]][defVal] %}' width="[[var:]]tam[[:var]]" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
        {% php if (isset($anexos[[[var:]]id[[:var]]][options][$item[[[var:]]id[[:var]]]][text])){$valor=$anexos[[[var:]]id[[:var]]][options][$item[[[var:]]id[[:var]]]][text];}else{$valor=$anexos[[[var:]]id[[:var]]][options][$item[[[var:]]id[[:var]]]];}  %}
        {% php if (trim($valor)==''){$valor=$item[join_[[var:]]id[[:var]]];}  %}
     <input id="[[var:]]id[[:var]]" name="[[var:]]id[[:var]]" type="text" class="alfa $clasver" width="[[var:]]tam[[:var]]" value='{% echo $valor; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="[[var:]]id[[:var]]">{% echo $anexos[[[var:]]id[[:var]]][labelf] %}</label>
    	          <div class="error_input">{$errors[[[var:]]id[[:var]]][0]}</div>
		</div>	

[* /if *]
[* echo $$campos[[[var:]]id[[:var]]][i_pos] *]
[[:compile]]
