 <div id="campos" class="row">

  {% foreach $field in $_table %}

  <div class="col s6 m4 l2 divcampos">

    <div class="card large ">

      <div class="card-content  " >
        <div class=" handle card-title waves-effect {% if ($field['key']=='PRI')%}red-text{% /if %} z-depth-1 " style="display:block;padding:5px;margin-bottom:5px;" >
          <i class="tiny material-icons ">{% if ($field['key']=='PRI')%}stars{% /if %} {% if ($field['key']=='MUL')%}vpn_key{% /if %} {% if ($field['key']=='')%}adjust{% /if %}</i>
          {% echo $field_i; %}
        </div>

        <p>
          Tipo:{% echo $field['type']; %} {% if ($field['args'][0]) %} ( {% echo $field['args'][0] %} {% if ($field['args'][1]) %} , {% echo $field['args'][1] %} {% /if %} ) {% /if %}
          {% if ($field['null']=='NO') %} <br>Null: NO  {% /if %}
          {% if ($field['default']!='') %} <br>Default: {% echo $field['default'] %}   {% /if %}
          {% if ($field['extra']!='') %} <br>{% echo $field['extra'] %}   {% /if %}
        </p>
        {% 2foreach $pedir in $_pedir %}
          <input type="hidden" id="field-{% echo $field_i; %}-{% echo $pedir_i; %}" name="field['{% echo $field_i; %}']['{% echo $pedir_i; %}']"  value="{% echo $pedir['val'][$field_i]; %}" >
        {% /2foreach %}
      </div>
      <div class="card-action">
          <button data-target="modal1" class="modal-trigger waves-effect waves-light btn red" onclick="openDet('{% echo $field_i; %}');">Editar</button>

      </div>
    
  </div>
</div>

{% /foreach %}

 </div>