<div class="row">

  {% foreach $field in $table %}

  <div class="col s6 m4 l2 ">

    <div class="card large ">

      <div class="card-content  " >
        <div class=" card-title waves-effect {% if ($field['key']=='PRI')%}red-text{% /if %} z-depth-1 " style="display:block;padding:5px;margin-bottom:5px;" >
          <i class="tiny material-icons ">{% if ($field['key']=='PRI')%}stars{% /if %} {% if ($field['key']=='MUL')%}vpn_key{% /if %} {% if ($field['key']=='')%}adjust{% /if %}</i>
          {% echo $field_i; %}
        </div>

        <p>
          Tipo:{% echo $field['type']; %} {% if ($field['args'][0]) %} ( {% echo $field['args'][0] %} {% if ($field['args'][1]) %} , {% echo $field['args'][1] %} {% /if %} ) {% /if %}
          {% if ($field['null']=='NO') %} <br>Null: NO  {% /if %}
          {% if ($field['default']!='') %} <br>Default: {% echo $field['default'] %}   {% /if %}
          {% if ($field['extra']!='') %} <br>{% echo $field['extra'] %}   {% /if %}
        </p>
      </div>
      <div class="card-action">
          <a class="waves-effect waves-light btn red" href="index.php?crud=table&table={% echo $table_i %}">Action</a>

      </div>
    
  </div>
</div>


{% /foreach %}
</div>       