
{% append style.inline %}
.highlight{
  background-color:#000;
}
.input-field .postfix {
    font-size: 2rem;
    position: absolute;
    right:0;
    transition: color 0.2s ease 0s;
    width: 3rem;
}
.input-field .postfix.active {
color:#26a69a;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }

.input-field .postfix ~ input, .input-field .postfix ~ textarea, .input-field .postfix ~ label, .input-field .postfix ~ .validate ~ label, .input-field .postfix ~ .autocomplete-content {
    margin-rigth: 3rem;
    width: calc(100% - 3rem);
}
{% /append %}


{% append js.files %}
<link href='js/jquery-ui/jquery-ui.min.css' rel='stylesheet'>
<script type='text/javascript' src='js/jquery-ui/jquery-ui.min.js'></script>
{% /append %}

{% append js.onready %}

$(".button-collapse").sideNav();
$('select').material_select();

$('#funcion').bind( "change", function() {  
  valFuncion(); 
});

$(' #tipolista').bind( "change", function() {  
  valTipoLista(); 
});

$('#usof').bind( "change", function() {  
  valUsof(); 
});

$('.campojoin > i').click(function() {
  openJoin('campojoin');
});

$('.listalista > i').click(function() {
  openLista('listalista');
});


 $("#campos").sortable({
   containment: "#campos",
    cursor: "move",
    forceHelperSize: true,
    handle: ".handle",
    opacity: 0.5,
});

$("#modal1").modal();

{% /append %}

{% append js.inline %}
function openDet(id){
  $('#modal1').attr('data-key',id);
  $('#modal-tit').html("Detalles del Campo: <span class='red-text'>"+id);
  $('._pedir').each(function() {

    if ( ($(this).attr('data-type')=='text')||($(this).attr('data-type')=='sel')||($(this).attr('data-type')=='range') ){
      $(this).val($('#field-'+id+'-'+$(this).attr('id')).val());  
    }

    if ( ($(this).attr('data-type')=='switch')||($(this).attr('data-type')=='check') ){
        
      if ($('#field-'+id+'-'+$(this).attr('id')).val()==$(this).attr('data-on')){

        this.checked=true;  
      }else{
        this.checked=false;  
      }
    }
  });


  $('select').material_select();
  $('#modal1').modal('open');
  valFunc();
  Materialize.updateTextFields();
  return false;
}

function valFunc(){
  valUsof();
  valTipoLista();
  valFuncion();
}

function openJoin(id){
  $('#modal2').attr('data-key',id);

  var dato=$('#campojoin').val();

  if (dato==''){
    $('#n_table, #n_col').val(-1);

  }else{
    var datos=dato.split('.');
    $('#n_table').val(datos[0]);
    getCampos(datos[1]);
    
  }

  $('#modal2').modal('open');
 $('select').material_select();
}


function openLista(id){
  $('#modalLista').attr('data-key',id);

  var dato=$('#listalista').val()+'*';
  var tr=dato.split('*');
  $('#tablalista tbody tr').remove();
  
  for (i = 0; i < tr.length; i++) {
    if (tr[i]!=''){
      dato=(tr[i]).split('|');
      addTr(i+1,dato[0],dato[1],dato[2]);
    }
      
  }

  $('#bAddLista').data('indice',tr.length);

  $('#modalLista').modal('open');
  $('select').material_select();
  $("#tablalista tbody").sortable({
  axis:'y',
  containment: "parent",
    cursor: "move",
    forceHelperSize: true,
    handle: ".handle",
    opacity: 0.5
});
}

function closeLista(){
  var id=$('#modalLista').attr('data-key');
  cSaveLista();
  
  Materialize.updateTextFields();
  $('#modalLista').closeModal();
}

function closeDet(){
  var id=$('#modal1').attr('data-key');

 $('._pedir').each(function() {

    if ( ($(this).attr('data-type')=='text')||($(this).attr('data-type')=='sel')||($(this).attr('data-type')=='range') ){
      $('#field-'+id+'-'+$(this).attr('id')).val($(this).val())
    }

    if ( ($(this).attr('data-type')=='switch')||($(this).attr('data-type')=='check')  ){
      if ($(this).is(':checked')){
        $('#field-'+id+'-'+$(this).attr('id')).val($(this).attr('data-on'));
      }else{
        $('#field-'+id+'-'+$(this).attr('id')).val($(this).attr('data-off'));
      }
      
    }

  
  });


  $('#modal1').modal('close');
}

function closeJoin(){
  var id=$('#modal2').attr('data-key');
  var dato=$('#n_table').val()+'.'+$('#n_col').val();
  $('#'+id).val( dato );

  
  Materialize.updateTextFields();
  $('#modal2').closeModal();
}


function valUsof(){

  $('#funcion').removeAttr('disabled');

  valor=$('#usof').val();
  $('.usof').removeClass('s10').addClass('s12');
  $('.tam').hide();
 
  if ((valor!='-1')&&(valor!='oculto')){
    $('.usof').removeClass('s12').addClass('s10');
    $('.tam').show();
  }
 
  if (valor=='check'){
    $('#funcion').val('check').attr('disabled','disabled');
    $('#tipolista').val('check');
    valFuncion();
    valTipoLista();
  }

 if (valor=='float'){
    $('#funcion').val('bdf');
    valFuncion();
  }
  $('select').material_select();

}

function valFuncion(){


  var valor=$('#funcion').val();
  $('.funcion').removeClass('s10').addClass('s12');
  $('.dec, .fcustom, .checkvalor').hide();

  if (valor=='bdf'){
    $('.funcion').removeClass('s12').addClass('s10');
    $('.dec').show();
  }

   if (valor=='check'){
    $('.funcion').removeClass('s12').addClass('s10');
    $('.checkvalor').show();
  }
 
  if (valor=='custom'){
    $('.funcion').removeClass('s12').addClass('s10');
    $('.fcustom').show();
  }

}

function valTipoLista(){
  valor=$('#tipolista').val();
  $('.tipolista').removeClass('s6, s12').addClass('s9');
  $('.campojoin,  .checklista, .listalista').hide();
   $('.tamlista').show();

  if ((valor=='get')||(valor=='-1')){ 
    $('.tipolista').removeClass('s6, s9').addClass('s12');
    $('.tamlista').hide();
  }
 
  if (valor=='join'){
    $('.tipolista').removeClass('s12, s9').addClass('s6');
    $('.campojoin').show();
  }

  if (valor=='lista'){
    $('.tipolista').removeClass('s12, s9').addClass('s6');
    $('.listalista').show();
  }

  if (valor=='check'){
    $('.tipolista').removeClass('s12, s9').addClass('s6');
    $('.checklista').show();
  }


  
}


function clicChecked(id){

  return false;
}



function getCampos(valTarget){

var dato=getSelAjax('#n_table',
                    'index.php?crud=getCampos',
                    '#n_col',
                    valTarget
                    );
}

function cDel(id){
  $('#trlista'+id).remove();
   //var dato=$('#bAddLista').data('indice');
  // dato=dato-1;
 //  $('#bAddLista').data('indice',dato);

}

function cSaveLista(){
var dato='';
$('#tablalista tbody tr').each(function( index ) {
  var i=$( this ).data('i');
  dato=dato+$('#valor'+i).val()+'|'+$('#texto'+i).val()+'|'+$('#tag'+i).val()+'*';
});

$('#listalista').val(dato);

}

function addTr(i,valor,texto,tag){
 
 $('#tablalista tbody').append('<tr id="trlista'+i+'" data-i="'+i+'">'+
            '<td><input id="valor'+i+'" type="text" class="validate" value="'+valor+'"></td>'+
            '<td><input id="texto'+i+'" type="text" class="validate" value="'+texto+'"></td>'+
            '<td><input id="tag'+i+'" type="text" class="validate" value="'+tag+'"></td>'+
            '<td> <i class="material-icons red-text" data-i="'+i+'" onclick="cDel('+i+');" style="cursor: pointer;" >delete</i> <i class="material-icons handle grey-text text-lighten-1 "  style="cursor: move;" >import_export</i> </td>'+
          '</tr>');

}

function validarFormulario(){
$('#form1').submit();  
}

function cAdd(){

  var dato=0;
  dato=$('#bAddLista').data('indice');
  if (dato=='-1'){
    dato=$('#tablalista tbody tr').length;
  }

  dato=dato+1;
  $('#bAddLista').data('indice',dato);

  addTr(dato,'','','');
}

{% /append %}

{% var menunavigation=1 %}


<!-- <h2 class="header">   Tabla: <span class="grey-text text-lighten-4">{% echo $database.'.' %}</span>{% echo $tableName %}</h2> -->



<ul id="nav-mobile" class="side-nav" >
  <li><div class="divider"></div></li>
  <li><a class="subheader">{% echo strtoupper($tableName) %}</a></li>
  <li><div class="divider"></div></li>
  <li class="no-padding">
   <ul class="collapsible" data-collapsible="expandable">

    {% foreach $field in $_table %}

    <li >
      <div class="collapsible-header waves-effect {% if ($field['key']=='PRI')%}red-text{% /if %} "><i class="tiny material-icons ">{% if ($field['key']=='PRI')%}stars{% /if %}{% if ($field['key']=='MUL')%}vpn_key{% /if %}{% if ($field['key']=='')%}adjust{% /if %}</i>{% echo $field_i; %}</div>
      <div class="collapsible-body">
        <p>
          Tipo:{% echo $field['type']; %} {% if ($field['args'][0]) %} ( {% echo $field['args'][0] %} {% if ($field['args'][1]) %} , {% echo $field['args'][1] %} {% /if %} ) {% /if %}
          {% if ($field['null']=='NO') %} <br>Null: NO  {% /if %}
          {% if ($field['default']!='') %} <br>Default: {% echo $field['default'] %}   {% /if %}
          {% if ($field['extra']!='') %} <br>{% echo $field['extra'] %}   {% /if %}
        </p>
      </div>
    </li>
    {% /foreach %}
  </ul>        

</li>
</ul>


<form action="index.php?crud=generar" id="form1" name="fom1" method="post">
<div class="row">
  <div class="col s12">
    <ul class="tabs z-depth-1"">
      <li class="tab col s4"><a class="active" href="#tabcampos">CAMPOS</a></li>
      <li class="tab col s4"><a  class="" href="#listas">LISTA</a></li>
      <li class="tab col s4 "><a  class="" href="#formulario">FORMUARIO</a></li>
    </ul>
  </div>
  <div   id="tabcampos" class="col s12">

   <div class="input-field col s6">
          <input id="singular" name='singular' type="text" class="validate " data-type="text" value="{% echo $tableName %}">
          <label for="singular" data-error="Debe escribir un nombre en singular" data-success="">Nombre del Modulo en Singular</label>
   </div>
   <div class="input-field col s6">
          <input id="plural" name='plural' type="text" class="validate " data-type="text"  value="{% echo \Mk\Tools\String::Pluralize($tableName); %}" >
          <label for="plural" data-error="Debe escribir un nombre en plural" data-success="">Nombre del Modulo en plural</label>
   </div>
 
    {% include campos.html %}
   
  </div>
  <div id="listas" class="col s12">Lista</div>
  <div id="formulario" class="col s12">Formulario</div>
</div>

 </form>
 
 <!-- Modal Structure -->

  <div id="modal1" data-key="" class="modal modal-fixed-footer">
   <h4 id="modal-tit" style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);background-color: #fafafa;border-radius:  2px 2px 0 0;height: 56px;position: absolute;top: 0;padding: 4px 6px;width: 100%;">Modal Header</h4>
    <div class="modal-content" style="margin-top:56px;height:calc(100% - 112px);">
      <div class="row">

       
  {% foreach $pedir in $_pedir %}
    
    {% php $ctam='s12'; if ($pedir['tam']!=''){$ctam=$pedir['tam'];} %}
    {% if ($pedir['type']=='text') %}

    

        <div class="input-field col {% echo $ctam; %} {% echo $pedir_i; %}">
        {% if ($pedir['icon']!='') %}        
        <i class="material-icons {% echo $pedir['icon-type'];%}" >{% echo $pedir['icon'];%}</i>
        {% /if %}
          <input id="{% echo $pedir_i; %}" name='{% echo $pedir_i; %}' type="text" class="validate _pedir" data-type="{% echo $pedir['type']; %}" {% echo $pedir['disabled']; %} {% echo $pedir['bind']; %} >
          <label for="{% echo $pedir_i; %}" data-error="{% echo $pedir['error']; %}" data-success="{% echo $pedir['ok']; %}">{% echo $pedir['text']; %}</label>
        </div>

    {% /if %}

     {% if ($pedir['type']=='int') %}

        <div class="input-field col {% echo $ctam; %} {% echo $pedir_i; %}">
        {% if ($pedir['icon']!='') %}        
        <i class="material-icons {% echo $pedir['icon-type'];%}" >{% echo $pedir['icon'];%}</i>
        {% /if %}
          <input id="{% echo $pedir_i; %}" name='{% echo $pedir_i; %}' type="number" class="validate _pedir" data-type="{% echo $pedir['type']; %}" {% echo $pedir['disabled']; %} {% echo $pedir['bind']; %}  {% if ($pedir['min']!='') %} min="{% echo $pedir['min']; %}" {% /if %} {% if ($pedir['max']!='') %} max="{% echo $pedir['max']; %}" {% /if %} >
          <label for="{% echo $pedir_i; %}" data-error="{% echo $pedir['error']; %}" data-success="{% echo $pedir['ok']; %}">{% echo $pedir['text']; %}</label>
        </div>

    {% /if %}

    {% if ($pedir['type']=='sel') %}

  <div class="input-field col {% echo $ctam; %} {% echo $pedir_i; %}">
    <select id="{% echo $pedir_i; %}" name='{% echo $pedir_i; %}' class="validate _pedir" data-type="{% echo $pedir['type']; %}"  {% echo $pedir['disabled']; %} {% echo $pedir['bind']; %} >
      {% echo $pedir['opt']; %}
    </select>
    <label   for="{% echo $pedir_i; %}" data-error="{% echo $pedir['error']; %}" data-success="{% echo $pedir['ok']; %}">{% echo $pedir['text']; %}</label>
  </div>

    {% /if %}

    {% if ($pedir['type']=='range') %}

  <div class="input-field col {% echo $ctam; %} {% echo $pedir_i; %}">
    <p class="range-field">
      <input type="range" id="{% echo $pedir_i; %}" name='{% echo $pedir_i; %}' class="validate _pedir" data-type="{% echo $pedir['type']; %}"  min="{% echo $pedir['min']; %}" max="{% echo $pedir['max']; %}" {% echo $pedir['disabled']; %} {% echo $pedir['bind']; %} >
    </p>
    <label  for="{% echo $pedir_i; %}"  data-error="{% echo $pedir['error']; %}" data-success="{% echo $pedir['ok']; %}">{% echo $pedir['text']; %}</label>
  </div>

    {% /if %}

    {% if ($pedir['type']=='switch') %}

  <div class=" col {% echo $ctam; %} {% echo $pedir_i; %}">
  <label >{% echo $pedir['text']; %}</label>
    <div class="switch" onclick="clicChecked('{% echo $pedir_i; %}')" >
    <label>
      {% echo $pedir['off']; %}
      <input type="checkbox" id="{% echo $pedir_i; %}" name='{% echo $pedir_i; %}' class=" _pedir" data-type="{% echo $pedir['type']; %}" data-on="{% echo $pedir['onval']; %}" data-off="{% echo $pedir['offval']; %}"  {% echo $pedir['disabled']; %} {% echo $pedir['bind']; %} >
      <span class="lever"></span>
      {% echo $pedir['on']; %}
    </label>
  </div>
   
  </div>

    {% /if %}

    {% if ($pedir['type']=='check') %}

 <div class="col {% echo $ctam; %} {% echo $pedir_i; %}">
    <p onclick="clicChecked('{% echo $pedir_i; %}')">
      <input type="checkbox" id="{% echo $pedir_i; %}" name='{% echo $pedir_i; %}' class=" _pedir" data-type="{% echo $pedir['type']; %}" data-on="{% echo $pedir['onval']; %}" data-off="{% echo $pedir['offval']; %}" {% echo $pedir['disabled']; %} {% echo $pedir['bind']; %} />
      <label  for="{% echo $pedir_i; %}" >{% echo $pedir['text']; %}</label>
    </p>
  </div>
   
    {% /if %}

    {% if ($pedir['type']=='raw') %}
      {% echo $pedir['text']; %}
    {% /if %}


  {% /foreach %}

    </div>

   
    </div>
    <div class="modal-footer">
     <button class="modal-action  waves-effect waves-green btn-flat" onclick="closeDet();">Ok</button>
     
      
    </div>
  </div>
  
 <!-- Modal Structure -->
  <div id="modal2" data-key="" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 id="modal-tit">Escojer Tabla y Campo</h4>
      

      <div class="row">


  <div class="input-field col {% echo $ctam; %}">
    <select id="n_table" name='n_table' class="validate" onchange="getCampos();"  >
    {% echo $_tablas; %}
    </select>
    <label   for="n_table" >Tabla:</label>
  </div>

    </div>

   
      <div class="row">


  <div class="input-field col {% echo $ctam; %}">
  
    <select id="n_col" name='n_col' class="validate"   >
    </select>
    <label   for="n_col" >Columna:</label>
  </div>

    </div>



    </div>
    <div class="modal-footer">
     <button class="modal-action  waves-effect waves-green btn-flat" onclick="closeJoin();">Ok</button>
      
    </div>
  </div>

   <!-- Modal Structure -->
  <div id="modalLista" data-key="" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 id="modal-tit">Crear lista</h4>
<div class="row ">
<div class="col s10">
  
</div>

<div class="col s2">
  <div class="btn z-depth-2 waves-effect waves-light green" onclick="cAdd();" id="bAddLista" data-indice='-1' >Adicionar</div>
</div>
</div>


      <div class="row">



<table class="striped" id="tablalista">
        <thead>
          <tr>
              <th data-field="valor">valor</th>
              <th data-field="texto">texto</th>
              <th data-field="tag">tags</th>
              <th data-field="action">Accion</th>
          </tr>
        </thead>

        <tbody>
         

        </tbody>
      </table>


    </div>



    </div>
    <div class="modal-footer">
     <button class="modal-action  waves-effect waves-green btn-flat" onclick="closeLista();">Ok</button>
      
    </div>
  </div>




