<div class="bgfondo">
<div class="produits plus ">
<div class="center">
<div class="alveole insecticides clearfix ">
<div class="content wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
<h2>Insecticides</h2>
<div class="masque">
<article>
<p>Les insecticides éliminent les insectes, leurs larves et/ou leurs œufs de vos cultures.</p>
<a href="/component/jak2filter/?Itemid=114&amp;theme=solutions&amp;isc=1&amp;category_id=1&amp;xf_1=3" class="button">Trouver le vôtre</a></article>
</div>
</div>
</div>
<div class="alveole herbicides clearfix ">
<div class="content wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
<h2>Herbicides</h2>
<div class="masque">
<article>
<p>Les herbicides ont vocation à préserver les cultures des adventices.</p>
<a href="/component/jak2filter/?Itemid=114&amp;theme=solutions&amp;isc=1&amp;category_id=1&amp;xf_1=2" class="button">Trouver le vôtre</a></article>
</div>
</div>
</div>
<div class="alveole fongicides clearfix ">
<div class="content wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
<h2>Fongicides</h2>
<div class="masque">
<article>
<p>Les fongicides protègent vos cultures des champignons parasites.</p>
<a href="/component/jak2filter/?Itemid=114&amp;theme=solutions&amp;isc=1&amp;category_id=1&amp;xf_1=1" class="button">Trouver le vôtre</a></article>
</div>
</div>
</div>
<div class="alveole biocontrole clearfix ">
<div class="content wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;">
<h2>Biocontrôle</h2>
<div class="masque">
<article>
<p>Vacciplant® stimule les défenses naturelles des plantes et renforce leur résistance contre les maladies.</p>
<a href="http://www.goemar.com/fr/produits-recherche?pays=12&amp;techno%5B%5D=8" target="_blank" class="button">Trouver le vôtre</a></article>
</div>
</div>
</div>
<div class="alveole biostimulants clearfix ">
<div class="content wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
<h2>Biostimulants</h2>
<div class="masque">
<article>
<p>Les Biostimulants activent la physiologie des plantes (nutrition, floraison)</p>
<a href="http://www.goemar.com/fr/produits-recherche?pays=12&amp;techno%5B%5D=7&amp;techno%5B%5D=17" target="_blank" class="button">Trouver le vôtre</a></article>
</div>
</div>
</div>
<div class="alveole semences clearfix ">
<div class="content wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
<h2>Traitement<br>des Semences</h2>
<div class="masque">
<article>
<p>Ils protègent la semence et la jeune plante contre les maladies et ravageurs.</p>
<a href="/component/jak2filter/?Itemid=114&amp;theme=solutions&amp;isc=1&amp;ordering=alpha&amp;category_id=1&amp;xf_1=7" class="button">Trouver le vôtre</a></article>
</div>
</div>
</div>
</div>

</div>

</div>