[[unique:]]{% php $maxpage=ceil($count / $limit); $minpage=$page-1; if ($minpage<=0){ $minpage=1; } $lastpage=$minpage+2;if($lastpage>$maxpage){ $lastpage=$maxpage;}  %}[[:unique]]

{% if $items != false %}
<ul class="pagination" style="padding: 0.8em;margin:0;" >

     <li class="{% if ($count <= 1)or($page==1) %} disabled {% /if %}{% else %} waves-effect {% /else %}"><a href="#!"><i class="material-icons" {% if !(($count <= 1)or($page==1)) %} onclick="_changePageList('1')" {% /if %} >skip_previous</i></a></li>
    <li class="{% if ($count <= 1)or($page==1) %} disabled {% /if %}{% else %} waves-effect {% /else %}"><a href="#!"><i class="material-icons" {% if !(($count <= 1)or($page==1)) %} onclick="_changePageList('{% echo ($page-1); %}')" {% /if %} >chevron_left</i></a></li>

				{% foreach $_page in range($minpage, $lastpage) %}
				<li class="{% if $page == $_page %}active{% /if %} waves-effect" ><a href="#!" onclick="_changePageList('{% echo $_page; %}')" >{% echo $_page; %}</a></li>
				{% /foreach %}

     <li class="{% if ($count <= 1)or($page==$maxpage) %} disabled {% /if %}{% else %} waves-effect {% /else %}"><a href="#!"><i class="material-icons" {% if !(($count <= 1)or($page==$maxpage)) %} onclick="_changePageList('{% echo ($page+1); %}')" {% /if %} >chevron_right</i></a></li>
    <li class="{% if ($count <= 1)or($page==$maxpage) %} disabled {% /if %}{% else %} waves-effect {% /else %}"><a href="#!"><i class="material-icons" {% if !(($count <= 1)or($page==$maxpage)) %} onclick="_changePageList('{% echo $maxpage; %}')" {% /if %} >skip_next</i></a></li>
    <li class="" >{% php $__selected[$limit]="selected='selected'"; %} 
    <select id="limit" name="limit" class="browser-default" style="width: 90px;height: 40px;" onchange="_changeLimitList(this);">
	<option value="10" {% echo $__selected['10'] %} >10 / $count</option>
	<option value="20" {% echo $__selected[20] %} >20 / $count</option>
	<option value="30" {% echo $__selected[30] %} >30 / $count</option>
	<option value="40" {% echo $__selected[40] %} >40 / $count</option>
	<option value="50" {% echo $__selected[50] %} >50 / $count</option>
	<option value="100" {% echo $__selected[100] %} >100 / $count</option>
</select>  </li>
</ul>

{% /if %}
{% else %}
0 Items
{% /else %}