
{% append style.files %}
{% /append %}
{% append style.inline %}



.treeg tr td a{
	display:none;
}
.treeg tr:hover td a{
	display:inline-block;
	margin-right:5px;
}
{% /append %}
{% append js.onready %}

$(document).ajaxStop(function(){
    showMensajes();
});
	$("select").material_select();
	showMensajes();
{% /append %}
{% append js.inline %}  

    jconfirm.defaults = {
        title: 'Aviso',
        boxWidth: '30%',
        useBootstrap: false
    };


function grabado(msg){
if (msg=='ok'){
	$('#mk_formulario').modal('close');
	reaction('','','','.listTable');
}else{
	var error=JSON.parse(msg);
	$.each(error, function(i, item) {
		$('#'+i).parent().find('.error_input').html(item);
	});
}
return -1;
}


function binderNodeTree(){
	$( '.treeg tr td' ).off( "click", "**" );
	 $('.treeg tr td').on('click','i:contains("add")',function(){addNodeTree(this)});
	 $('.treeg tr td').on('click','i:contains("edit")',function(){editNodeTree(this)});
	 $('.treeg tr td').on('click','i:contains("delete")',function(){delNodeTree(this)});
}
var nodedeltree;
function delNodeTree(node){
	node=$(node).closest('tr');
	if (($(node).treegrid('isLeaf'))&&($(node).treegrid('getDepth')>0)){
		nodedeltree=node;
		var t=node.find('td:eq(0)').text();
		$.confirm({
		    title: 'Confirmacion',
		    content: '¿Esta seguro de querer borrar este Nodo?:'+t,
		    type:'red',
		    buttons: {
		        confirm: function () {
		        	var pp1='#'+$(nodedeltree).closest('table').prop('id');
		        	nodedeltree.remove();
        			$(pp1).treegrid();
        			$('#'+$(pp1).attr('for')).val(getNodosTree(pp1));
		        },
		        cancel: function () {
		        }
		    }
		});
	}
}
function editNodeTree(node){
	node=$(node).closest('tr');
	if (($(node).treegrid('isLeaf'))&&($(node).treegrid('getDepth')>0)){
		var id=node.prop('id')
		var t=node.find('td:eq(0)').text();
		var t1 = prompt("Ingrese el Texto para Editar", t);
		if (t1 != null) {
			t1=node.find('td:eq(0)').html().replace(t,t1);
			node.find('td:eq(0)').html(t1);
		}
		var pp='#'+$(node).closest('table').prop('id');
		$('#'+$(pp).attr('for')).val(getNodosTree(pp));
	}
}
function addNodeTree(node){
	node=$(node).closest('tr');
	var id=node.prop('id');
	id=id.replace('node-','');
	var idp=node.treegrid('getParentNodeId')
	var t1 = prompt("Ingrese el Texto para Adicionar", '');
	var n=node.clone();
	var pp='#'+$(node).closest('table').prop('id');
	var nid;
	if (t1 != null) {
		nid=$(pp).find('tr').length+1;
		$(pp).treegrid('getAllNodes').each(function(){
			var oid=$(this).prop('id');
			oid=oid.replace('node-n','');
			if (isNaN(oid)==false){
				if (oid>=nid){
					nid=oid+1;
				}
			}
		});
		$(n).removeClass('treegrid-'+id).removeClass('treegrid-expanded').removeClass('treegrid-parent-'+idp).addClass('treegrid-n'+nid).addClass('treegrid-parent-'+id).prop('id','node-n'+nid);
		n.find('td:eq(0)').html(t1);
		node.after(n);
		$(pp).treegrid();
		binderNodeTree();
		$('#'+$(pp).attr('for')).val(getNodosTree(pp));
		//setNodosTree(pp,$('#'+$(pp).attr('for')).val());
	}
}
{% /append %}
{% append js.openform %}
{% /append %}
{% append js.files %}<link type='text/css' rel='stylesheet' href='js/confirm/confirm.css'/>
<link type='text/css' rel='stylesheet' href='js/datedropper/datedropper.css'/>
<link type='text/css' rel='stylesheet' href='js/treegrid/treegrid.css'/>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
<script type='text/javascript' src='js/datedropper/datedropper.js'></script>
<script type='text/javascript' src='js/treegrid/treegrid.js'></script>
{% /append %}
	    <h4 class="modal-tit">
			<h1 > Adicionar</h1>
		</h4>
<div class="container">
<!-- ajax: -->
<div class="errorList"></div>
<form id="frmEdit" data-_action='{$_action}' action="reaction('','save','',true);"  method="post" data-target='' class="$_action" >
<div class="row">

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}

[[setvar: openform]]
	$('input.datafecha').dateDropper();
[[:setvar]]


[[setvar: openform]]
	 $('.treeg').treegrid();
	 binderNodeTree();
[[:setvar]]


	          <input  id="pk" name="pk" type="hidden" value='{% echo $item[pk]; %}' data-defval='{% echo $anexos[pk][defVal] %}' >
 

<div class="row   i_c-section  bindered" id="c-section-0" data-campo="c-section-0" data-type="c-section"><div class="dropin row  ">
		<div class="input-field col s12">
	          <input id="nombre" name="nombre" type="text" class="alfa $clasver  required" width="" value='{% echo $item[nombre]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defVal='{% echo $anexos[nombre][defVal] %}'>
	          <label for="nombre">{% echo $anexos[nombre][labelf] %}</label>
	          <div class="error_input">{$errors[nombre][0]}</div>
		</div>
 

</div> </div><div class="row   i_c-tab         bindered" id="c-tab-1" data-campo="c-tab-1" data-type="c-tab">    <ul class="tabs z-depth-1 i_tab" id="tab-1">      <li class="tab col s4"><a class="active" href="#tab-1-1" style="">Datos</a></li>    <li class="tab col s4"><a href="#tab-1-2" style="" class="">Ubicaciones</a></li><li class="tab col s4"><a href="#tab-1-3" style="">Permisos</a></li><div class="indicator" style="right: 626.833px; left: 0px;"></div></ul><div id="tab-1-3" class="col s12 dropin        " style="display: none;"></div><div id="tab-1-2" class="col s12 dropin          " style="display: none;">
[[prevar: openform]]
	setNodosTree('#tree-t_ubicaciones',$('#t_ubicaciones').val());
[[:prevar]]
		<div class="input-field col s12">
			  <input  id="t_ubicaciones" name="t_ubicaciones" type="hidden" value='{% echo $item[t_ubicaciones]; %}' data-defval='{% echo $anexos[t_ubicaciones][defVal] %}'  >
	          <label class="labeltop" for="t_ubicaciones">{% echo $anexos[t_ubicaciones][labelf] %}</label>
	          <div class="error_input">{$errors[t_ubicaciones][0]}</div>
			<table  id="tree-t_ubicaciones" name="tree-t_ubicaciones" class="treeg" for="t_ubicaciones" width="">
			{% echo $nodes %}
			</table>
		</div>
 

</div> <div id="tab-1-1" class="col s12 dropin  active " style="">
		<div class="input-field col s12">
	          <input id="dir" name="dir" type="text" class="alfa $clasver " width="" value='{% echo $item[dir]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} data-defVal='{% echo $anexos[dir][defVal] %}'>
	          <label for="dir">{% echo $anexos[dir][labelf] %}</label>
	          <div class="error_input">{$errors[dir][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[estado][options],$item[estado],'Seleccione '.$anexos[estado][labelf],$anexos[estado][join][grupo]); %}
		<div class="input-field col s12 m6">
		 {% if $_action!='ver' %}
		<select id="estado" name="estado" class="select $clasver  required"  [[var:]]eventos[[:var]] data-defval='{% echo $anexos[estado][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="estado" name="estado" type="text" class="alfa $clasver" width="" value='{% echo $anexos[estado][options][$item[estado]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="estado">{% echo $anexos[estado][labelf] %}</label>
    	          <div class="error_input">{$errors[estado][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[fk_resp][options],$item[fk_resp],'Seleccione '.$anexos[fk_resp][labelf],$anexos[fk_resp][join][grupo]); %}
		<div class="input-field col s12 m6">
		 {% if $_action!='ver' %}
		<select id="fk_resp" name="fk_resp" class="select $clasver  required  numeric"   onkeypress=' return soloNum(event,this);'  data-defval='{% echo $anexos[fk_resp][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="fk_resp" name="fk_resp" type="text" class="alfa $clasver" width="" value='{% echo $anexos[fk_resp][options][$item[fk_resp]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="fk_resp">{% echo $anexos[fk_resp][labelf] %}</label>
    	          <div class="error_input">{$errors[fk_resp][0]}</div>
		</div>
 

{% php $valor=\Mk\Tools\Form::dbToDate($item[fecultinv]); %}
		<div class="input-field col s12 m6">
	          <input id="fecultinv" name="fecultinv" type="text" class="alfa $clasver datafecha " width="" value='{% echo $valor; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %}  data-format="{% echo $_param->fecha->formato; %}" data-modal="true"  data-large-mode="true"  data-default-date="{% echo \Mk\Tools\Form::dbToDate($item[fecultinv],false,'m-d-Y'); %}" data-defval='{% echo $anexos[fecultinv][defVal] %}' >
	          <label for="fecultinv">{% echo $anexos[fecultinv][labelf] %}</label>
	          <div class="error_input">{$errors[fecultinv][0]}</div>
		</div>
 

	{% php $options=\Mk\Tools\Form::getOptions($anexos[lapso][options],$item[lapso],'Seleccione '.$anexos[lapso][labelf],$anexos[lapso][join][grupo]); %}
		<div class="input-field col s12 m6">
		 {% if $_action!='ver' %}
		<select id="lapso" name="lapso" class="select $clasver  required  numeric"   onkeypress=' return soloNum(event,this);'  data-defval='{% echo $anexos[lapso][defVal] %}' width="" >
      {% echo $options; %}
    </select>
     {% /if %}
     {% else %}
     <input id="lapso" name="lapso" type="text" class="alfa $clasver" width="" value='{% echo $anexos[lapso][options][$item[lapso]][text]; %}'  disabled="disabled"  >
     {% /else %}
    	          <label for="lapso">{% echo $anexos[lapso][labelf] %}</label>
    	          <div class="error_input">{$errors[lapso][0]}</div>
		</div>
</div><span class="oculto">[[setvar: openform]] $("ul.tabs").tabs(); [[:setvar]]</span> </div>
 

</div>
<input type="hidden" name="_save_" id="_save_" value="{% echo $_action; %}">
</form>
<!-- notajax: -->
{% if ('[[var:]]mostrar[[:var]]'!='1') %}
<div class="modal-footer" >
<div class="pag white-text" style="float: left;"></div>
				<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat " >Volver</a>
				<a href="#!" id="btnSave" class=" modal-action  waves-effect waves-green btn-flat btnPrevAjax" onclick="_sendForm('#frmEdit',0,grabado);" >Grabar</a>
				{% if ($_action=='ver') %}
				<a href="#!" id="btnPrint" class=" modal-action  waves-effect waves-blue btn-flat " onclick="printerArea('#mk_formulario .modal-content');" >Imprimir</a>
				{% /if %}
        </div>
{% /if %}
<!-- :notajax -->
<!-- :ajax -->
</div>
