
{% append style.files %}
{% /append %}
{% append style.inline %}

{% /append %}
{% append js.onready %}

$(document).ajaxStop(function(){
    showMensajes();
});
	$("select").formSelect();
	showMensajes();
{% /append %}
{% append js.inline %}    

    jconfirm.defaults = {
        title: 'Aviso',
        boxWidth: '30%',
        useBootstrap: false
    };


function grabado(msg){
if (msg=='ok'){
	$('#mk_formulario').modal('close');
	reaction('','','','.listTable');
}else{
	var error=JSON.parse(msg);
	$.each(error, function(i, item) {
		$('#'+i).parent().find('.error_input').html(item);
	});
}
return -1;
}
{% /append %}
{% append js.openform %}
{% /append %}
{% append js.files %}<link type='text/css' rel='stylesheet' href='js/confirm/confirm.css'/>
<script type='text/javascript' src='js/confirm/confirm.js'></script>
{% /append %}
	    <h4 class="modal-tit">
			<h1 > Adicionar</h1>
		</h4>
<div class="container">
<!-- ajax: -->
<div class="errorList"></div>
<form id="frmEdit" data-_action='{$_action}' action="reaction('','save','',true);"  method="post" data-target='' class="$_action" >
<div class="row">

{% php if ($_action=='ver'){  $clasver='ver';}else{  $clasver='';} %}

<input  id="pk" name="pk" type="hidden" value='{% echo $item[pk]; %}' data-defval='{% echo $anexos[pk][defVal] %}' >
 

<div class="row  i_c-section bindered" id="c-section-0" data-campo="c-section-0" data-type="c-section"> <div class="dropin row ">
<div class="input-field col s12">
      <input id="nom" name="nom" type="text" class="alfa {% echo $clasver; %}  required " width="" value='{% echo $item[nom]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defVal='{% echo $anexos[nom][defVal] %}'>
      <label for="nom">{% echo $anexos[nom][labelf] %}</label>
      <div class="error_input">{$errors[nom][0]}</div>
</div>
 

<div class="input-field col s12">
      <input id="dir" name="dir" type="text" class="alfa {% echo $clasver; %} " width="" value='{% echo $item[dir]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defVal='{% echo $anexos[dir][defVal] %}'>
      <label for="dir">{% echo $anexos[dir][labelf] %}</label>
      <div class="error_input">{$errors[dir][0]}</div>
</div>
 

<div class="input-field col s12">
      <input id="tel" name="tel" type="text" class="alfa {% echo $clasver; %}  required " width="" value='{% echo $item[tel]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defVal='{% echo $anexos[tel][defVal] %}'>
      <label for="tel">{% echo $anexos[tel][labelf] %}</label>
      <div class="error_input">{$errors[tel][0]}</div>
</div>
 

<div class="input-field col s12">
      <input id="mail" name="mail" type="text" class="alfa {% echo $clasver; %} mail" width="" value='{% echo $item[mail]; %}'  onblur=' _valEmail(this);'  {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defVal='{% echo $anexos[mail][defVal] %}'>
      <label for="mail">{% echo $anexos[mail][labelf] %}</label>
      <div class="error_input">{$errors[mail][0]}</div>
</div>
 

<div class="input-field col s12">
      <input id="contacto" name="contacto" type="text" class="alfa {% echo $clasver; %}  required " width="" value='{% echo $item[contacto]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defVal='{% echo $anexos[contacto][defVal] %}'>
      <label for="contacto">{% echo $anexos[contacto][labelf] %}</label>
      <div class="error_input">{$errors[contacto][0]}</div>
</div>
 

<div class="input-field col s12">
      <input id="cel" name="cel" type="text" class="alfa {% echo $clasver; %} " width="" value='{% echo $item[cel]; %}' [[var:]]eventos[[:var]] {% if $_action=='ver' %} disabled="disabled" {% /if %} [[var:]]readonly[[:var]] data-defVal='{% echo $anexos[cel][defVal] %}'>
      <label for="cel">{% echo $anexos[cel][labelf] %}</label>
      <div class="error_input">{$errors[cel][0]}</div>
</div>
</div></div>
</div>
<input type="hidden" name="_save_" id="_save_" value="{% echo $_action; %}">
</form>
<!-- notajax: -->
{% if ('[[var:]]mostrar[[:var]]'!='1') %}
<div class="modal-footer" >
<div class="pag white-text" style="float: left;"></div>
				<a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat " >Volver</a>
				<a href="#!" id="btnSave" class=" modal-action  waves-effect waves-green btn-flat btnPrevAjax" onclick="_sendForm('#frmEdit',0,grabado);" >Grabar</a>
				{% if ($_action=='ver') %}
				<a href="#!" id="btnPrint" class=" modal-action  waves-effect waves-blue btn-flat " onclick="printerArea('#mk_formulario .modal-content');" >Imprimir</a>
				{% /if %}
        </div>
{% /if %}
<!-- :notajax -->
<!-- :ajax -->
</div>
